<div class="carousel-container">
    <div class="carousel-control left">
        <button mat-mini-fab color="primary"
            (click)="scrollLeft()"
        >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>                
    </div>
    <div #widgetsContent class="carousel-content">
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
        <div class="info-widget">
            WIDGET
        </div>
    </div>
    <div class="carousel-control right">
        <button mat-mini-fab color="primary"
            (click)="scrollRight()"
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button> 
    </div>
  </div>