<div class="carousel-container">
    <div class="carousel-control left">
        <button mat-mini-fab color="primary" class="carousel-btn"
            (click)="scrollLeft()"
        >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>                
    </div>
    <div #content class="carousel-content">
        <ng-container *ngFor="let datum of data; template: tmpl"></ng-container>
    </div>
    <div class="carousel-control right">
        <button mat-mini-fab color="primary" class="carousel-btn"
            (click)="scrollRight()"
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button> 
    </div>
  </div>