.custom-slider-main {
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}

.carousel-container {
    display: flex;
    text-align: center;
    align-items: center;
}
  
.carousel-control {
    width: 100px;
}
.carousel-control.left {
    text-align: left;
}

.carousel-control.right {
    text-align: right;
}

.carousel-content {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    
}