.current-forecast-container {
    width: 50%;
    display: inline-block;
}
.temp-container {
    display: inline-block;   
}
.weather-icon {
    height: 88px;
    margin-right: 12px;
    width: 88px;    
}
.temp {
    font-size: 84px;
    font-weight: 500;
    letter-spacing: -.7px;
    line-height: 1.07;    
}
.after-temp {
    font-size: 24px;
    line-height: 1.28;
    margin-left: -24px;
    opacity: .6;    
}
.outside {
    font-weight: bold;
    margin-top: 18px;
    font-size: 15px;
}
.outside.time {
    opacity: 0.5;
    margin-top: unset;
}
.current-forecast-details-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.details-row {
    border-bottom: 1px solid #eee;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;  
    justify-content: space-between; 
    font-size: 14.5px;
    line-height: 1.33;
    font-weight: bold; 
}
.details-value {
    opacity: 0.5;
}

.air-quality, .uv-index {
    opacity: initial;
    font-weight: bolder;
}

.air-quality.excellent, .uv-index.low  {
    color: #00e59b;
}
.air-quality.fair, .uv-index.moderate {
    color: #ffc302;
}
.air-quality.poor, .uv-index.high {
    color: #ff712b;
}
.air-quality.unhealthy, .uv-index.very-high {
    color: #f62a55;
}
.air-quality.very-unhealthy {
    color: #c72eaa;
}
.air-quality.very-dangerous, .uv-index.extreme {
    color: #9930ff;
}

@media screen and (max-width: 767px) {
    .current-forecast-container {
        margin-left: unset;
        width: unset;
        display: initial;
    }    
    .current-forecast-details-container {
        display: initial;
        width: unset;
        vertical-align: unset;
    }
    .current-weather {
        margin-top: 15px;
    }    
}