<div>
    <div class="current-weather">
        <h2>Current Weather</h2>
    </div>
    <section class="forecast-container">
        <div class="outside time">
            {{ getLocalTime() }}
        </div>
        <img class="weather-icon" [src]="getForcastImgSrc()" alt="Forcast" />
        <div class="temp-container">
            <div class="temp">
                {{ forecast.temp }}°
                <span class="after-temp">F</span>
            </div>
            <div class="real-feel">
                Feels Like {{ forecast.app_temp }}°
            </div>
        </div>
        <div class="outside">
            {{ getTimeOfDay() }} - {{ getOutsideDescription() }}
        </div>          
    </section> 
    <section class="forecast-details-container">
        <div class="details-row">
            <span> Latitude /  Longitude</span>
            <span class="details-value">{{ forecast.lat }} / {{ forecast.lon }}</span>
        </div>        
        <div class="details-row">
            <span>Humidity</span>
            <span class="details-value">{{ forecast.rh }}%</span>
        </div>
        <div class="details-row">
            <span>Wind Speed / Direction</span>
            <span class="details-value">{{ forecast.wind_spd }} mph / {{ forecast.wind_cdir }}</span>
        </div>  
        <div class="details-row">
            <span>Cloud Coverage</span>
            <span class="details-value">{{ forecast.clouds }}%</span>
        </div> 
        <div class="details-row">
            <span>Dew Point</span>
            <span class="details-value">{{ forecast.dewpt }}°</span>
        </div>                               
    </section> 
</div>

