<!--
// ============================================================================
//    Author: Kenneth Perkins
//    Date:   Dec 22, 2021
//    Taken From: http://programmingnotes.org/
//    File:  forecast-location-search.component.html
//    Description: Forecast location search html
// ============================================================================
-->
<div class="location-search-container">
    <button mat-flat-button color="primary" class="btn-gps"
        (click)="onSearcGPSLocation()"
    >
        <mat-icon>gps_fixed</mat-icon>
    </button>
    
    <span *ngIf="showQuerySearch">
        <input type="text" [(ngModel)]="searchQuery" name="search" 
            placeholder="Search by city, state, zip code, region, etc."
            (keyup.enter)="onSearchQueryLocation()"
            autocomplete="off"
            class="input-location-search"
        >        
        <button mat-flat-button color="primary" class="btn-location-search"
            (click)="onSearchQueryLocation()"
        >
            <mat-icon>search</mat-icon>
        </button>
    </span>
</div>