<!--
// ============================================================================
//    Author: Kenneth Perkins
//    Date:   Dec 22, 2021
//    Taken From: http://programmingnotes.org/
//    File:  forecast-location.component.html
//    Description: Forecast location html
// ============================================================================
-->
<div class="location">
    <span class="city"> 
        {{ getCity() }}
        <span *ngIf="location.postal_code">
            {{ location.postal_code }},
        </span>
    </span>
    <span class="region">
         <span *ngIf="location.region">{{ location.region }},</span> {{ location.country }}
    </span>
</div>